{% extends 'base.html' %}

{%block content%}
<h1>Account</h1>
<table class="table table-bordered table-striped table-condensed table-hover">
    <thead> 
        <tr>
            <th> Name </th>
            <th> Number </th>
            <th> Number of receipts</th>
    </thead>
    <tbody>
        {% for account in account_list %}
        <tr>
            <td> {{account.name}} </td>
            <td>{{account.number}}</td>
            <td>{{account|length}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock content%}